.index-body {
	background-color: rgb(15, 15, 15);
}

.animation-content {
	margin-top: 300px;
	margin-bottom: 1000px;
	color: white;
	text-align: center;
	font-size: 40px;

	opacity: 0;
	transition: all 0.5s;
}

.animation-left {
	position: relative;
	left: 0%;
	transition: all 0.5s;
}